$navbar-default-bg: #312312;
$light-orange: #ff8c00;
$navbar-default-color: $light-orange;

@import "bootstrap-sprockets";
@import "bootstrap";


body {
	padding-top: 80px;
} 
.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.headerDetail {
	margin-top: 20px;
	
}

#logo {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	margin-right: 10px;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
}

#logo:hover {
	color: black;
	text-decoration: none;
}

/* footer */

footer {
	margin-top: 40px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer small {
	float: left;
	margin-top: 8px;
}

/*.container {
  margin-left: 135px
}
*/


.quiet {
  color: #ababab;
}

div.nav_item {
  margin-left: 25px;
  float: left;
}

.label, .badge  {
  a, a:hover, a:focus {
    color: #fff;
    text-decoration: none;
  }
}

div.comment_votes {
  padding: 10px;
}